* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 72rem;
    margin: 0 auto;
    
}

form {
    margin: 4rem 10rem;
    border: 1px solid black;
    padding: 4rem;
    padding-top: 0;
}

.header {
    text-align: center;
}
.calc-button{
    display: flex;
    justify-content: center;
}
.calc-button button{
    width: 50%;
    align-items: center;
}
#result {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}